/* Stiluri generale pentru container */
main .container {
    padding: 8%;
    max-width: 1200px;
    /* Limitează lățimea maximă */
    margin: auto;
    /* Centrează containerul */
}

/* Stiluri pentru detaliile produsului */
.productDetails {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 20px;
    align-items: start;
}

.productDetails .images img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    /* Colțuri rotunjite pentru imagine */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Umbră pentru efect 3D */
}

.details {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    /* Aranjare pe verticală */
}

.details .category_name {
    font-size: 20px;
    color: #333;
    margin-bottom: 6px;
}

.details .product_name {
    font-size: 28px;
    /* Dimensiune font mai mare */
    font-weight: 600;
    /* Font bold */
    color: #333;
    margin-bottom: 12px;
}

.details .product_price {
    font-size: 24px;
    /* Dimensiune mai mare */
    font-weight: 500;
    /* Font semi-bold */
    color: green;
    /* Medium grey */
    margin-bottom: 20px;
    position: relative;
}

.details .product_price::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    /* Linie mai groasă */
    background-color: #86868694;
}

.product_des {
    font-size: 16px;
    color: #333;
    margin: 0px 0;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    margin-top: 20px;
    /* Spațiu de sus */
}

.size-selection {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.size-selection h3 {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin-right: 10px;
}

.size-dropdown select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.size-dropdown select:focus {
    border-color: #007bff;
    outline: none;
}

.size-dropdown option {
    padding: 10px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
}

.buttons .counts {
    display: flex;
    align-items: center;
  gap: 0px;
}

.counts h3 {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin-right: 10px;
    /* Add some space to the right */
}

.counts_btns {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.counts_btns:hover {
    background-color: #e0e0e0;
}

.product_count {
    width: 50px;
    height: 30px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.counts_btns {
    background: transparent;
    border: none;
    font-size: 24px;
    color: rgb(134 134 134 / 50%);
    cursor: pointer;
}

.product_count {
    width: 50px;
    /* Lățime mai mare */
    border: 1px solid #ccc;
    /* Bordură pentru input */
    border-radius: 5px;
    /* Colțuri rotunjite */
    height: 40px;
    /* Înălțime fixă */
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    margin: 0 10px;
    /* Spațiu între butoane */
}

#btn_add {
    background-color: #51c942;
    /* Medium grey */
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    height: 55px;
    /* Înălțime fixă */
    width: 100%;
    /* Lățime 100% */
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    /* Colțuri rotunjite */
    cursor: pointer;
    transition: background-color 0.3s;
    /* Animare la hover */
}

#btn_add:hover {
    background-color: #48b03a;
    /* Slightly darker grey */
}

/* Stiluri responsive */
@media (max-width: 768px) {
    .productDetails {
        grid-template-columns: 1fr;
        /* O singură coloană pe ecrane mici */
    }

    .productDetails .images img {
        border-radius: 5px;
        /* Colțuri rotunjite pentru imagini */
    }

    .buttons {
        flex-direction: column;
        /* Aranjare verticală pentru butoane pe ecrane mici */
    }

    .buttons .counts {
        margin-bottom: 10px;
        /* Spațiu între count și buton */
    }

    .product_count {
        width: 60px;
        /* Lățime mai mare pentru input pe ecrane mici */
    }
}

.sale-flag {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: red;
    color: white;
    padding: 2px 5px;
    font-weight: bold;
    border-radius: 3px;
    z-index: 10;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
}

.card-img {
    position: relative;
    width: 100%;
    max-width: 500px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.card-img:hover img {
    transform: scale(1.05);
}

.card-img img {
    pointer-events: none;
}

.images {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 20px auto;
    max-width: 100%;
}

.sale-flag,
.new-flag,
.out-of-stock {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    font-size: 0.9rem;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
}

.sale-flag {
    background-color: red;
}

.new-flag {
    background-color: green;
    top: 10px;
}

.out-of-stock {
    background-color: gray;
    top: 70px;
}

.image-navigation {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    padding: 0 10px;
    z-index: 20;
    display: none;
    /* Default to none */
}

.image-navigation button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    width: 30px;
    height: 30px;
    background-color: #a4a4a4e5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
}

.image-navigation button ion-icon {
    font-size: 1.5rem;
}

.image-navigation button:hover {
    background-color: #787878e5;
}

.image-navigation button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.prewiev-image-navigation {
    display: flex;
    align-items: center;
    gap: 10px;
    overflow-x: auto;
    white-space: nowrap;
    max-width: 100%;
    padding: 4px 7px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    scrollbar-width: thin;
    scrollbar-color: #007BFF transparent;
}

.preview-square {
    flex-shrink: 0;
    width: 80px;
    height: 80px;
    background-color: #e0e0e0;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: transform 0.3s ease, border-color 0.3s ease;
    cursor: pointer;
}

.preview-square img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

@media (max-width: 600px) {
    .preview-square {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 400px) {
    .preview-square {
        width: 50px;
        height: 50px;
    }
}

.preview-square:hover {
    transform: scale(1.1);
    border-color: #007BFF;
}

.prewiev-image-navigation::-webkit-scrollbar {
    height: 6px;
}

.prewiev-image-navigation::-webkit-scrollbar-thumb {
    background-color: #007BFF;
    border-radius: 10px;
}

.prewiev-image-navigation::-webkit-scrollbar-thumb:hover {
    background-color: #0056b3;
}

.description-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.description-container h3 {
    font-size: 20px;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
}

.description-container p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
    white-space: pre-wrap; /* Preserve formatting */
}

/* Responsive styles */
@media (max-width: 768px) {
    .description-container {
        padding: 15px;
    }

    .description-container h3 {
        font-size: 18px;
    }

    .description-container p {
        font-size: 14px;
    }
}

.price-container {
    display: flex;
    align-items: normal;
    gap: 10px;
}

.old-price {
    font-size: 18px;
    text-decoration: line-through;
    color: red;
}